{
  "parser": "babel-eslint",
  "plugins": ["html"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "default-case": "off",
    "function-paren-newline": "off",
    "import/extensions": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "import/no-unresolved": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "new-cap": "off",
    "no-confusing-arrow": "off",
    "no-else-return": "off",
    "no-loop-func": "off",
    "no-mixed-operators": "off",
    "no-multi-assign": "off",
    "no-nested-ternary": "off",
    "no-new": "off",
    "no-param-reassign": "off",
    "no-prototype-builtins": "off",
    "no-restricted-globals": "off",
    "no-restricted-properties": "off",
    "no-return-assign": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "radix": "off",
    "semi": ["error", "never"]
  }
}
